
/backend/bin
/backend/obj


# React Native
client/node_modules/
client/ios/Pods/
client/android/.gradle/
client/android/app/build/
client/android/.idea/
client/android/local.properties
client/*.iml

# macOS
client/.DS_Store

# Linux
client/*.lock

# Android
client/*.apk
client/*.aar
client/*.ap_

# iOS
client/*.mode1v3
client/*.mode2v3
client/*.perspectivev3
client/xcuserdata/
client/*.xccheckout
client/*.xcworkspace
client/*.xcuserstate
client/*.pbxuser
client/!default.mode1v3
client/!default.mode2v3
client/!default.perspectivev3
client/DerivedData/
client/build/
client/*.ipa
client/*.dSYM.zip
client/*.dSYM

# fastlane
client/fastlane/report.xml
client/fastlane/Preview.html
client/fastlane/screenshots/**/*.png
client/fastlane/test_output

# Buck
client/buck-out/
client/\.buckd/
client/*.keystore
client/!debug.keystore
client/.buckconfig.local

# Windows
client/Thumbs.db
client/*.exe
client/*.dll
client/*.pdb
client/*.suo
client/*.user
client/*.userosscache
client/*.sln.docstates

# Packages
# npm
client/package-lock.json
# yarn
client/yarn.lock

# Editor directories and files
client/.vscode/
client/.idea/
client/*.sublime-project
client/*.sublime-workspace

# Logs
client/*.log

# Coverage
client/coverage/

# Temporary files
client/tmp/
client/temp/
.DS_Store
client/android/build.gradle
client/android/gradle.properties
client/android/settings.gradle
client/android/app/build.gradle
